.item-list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
  padding-bottom: 60px;
  

  .no-items {
    font-size: 18px;
    text-align: left;
    margin: 25px 0 0 0;
    color: rgba(0, 0, 0, 0.3);
  }
}