.list-item {
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	margin: 15px 0 0 0;
	padding: 0 0 4px 0;
	position: relative;
	list-style: none;
	cursor: move;
  background: white;
  
  .name {
    position: relative;
    margin-bottom: 0px;

    p {
      color:  #3e3e3e;
      font-size: 32px;
      font-weight: bold;
      padding: 0;
      margin: 0 0 -2px 0;
    }
  }
  
  .text {
    position: relative;
    margin: 0px 0 5px 0;

    p {
      color:  rgba(34, 34, 34, 0.5);
      font-size: 16px;
      position: relative;
      font-weight: 400;
      padding: 0;
      margin: 2px 0 0 0;
      left: 0;
    }
  }
}