.list-selector {
  display: flex;
  justify-content: space-between;
	width: 100%;
	border-top: 1px solid rgba(0, 0, 0, 0.25);
	list-style: none;
	padding: 0;

  button {
    flex: 0 0 auto;
    text-align: left;
    border: none;
    border-top: 2px solid transparent;
    display: inline-block;
    position: relative;
    padding: 0;

    &.active {
      border-top: 2px solid #3e3e3e;
    }

    p {
      pointer-events: none;
      margin: 9px 0 0 0;
      padding: 0;
      font-size: 14px;
      font-weight: bold;
      color: rgba(34, 34, 34, 0.4);
    }
  }
}