
.add-item {
	width: 100%;
	position: relative;
    bottom: 60px;

    .enter-message {
        color: white;
        position: absolute;
        top: 41px;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
        display: none;
    }
    
    .input {
      position: relative;
      display: inline-block;
      background: transparent;
      border: none;
      color: white;
      width: 100%;
      height: auto;
      padding: 0;

      &.name {
        font-size: 42px;
        font-weight: bold;
        font-family: 'Source Sans Pro', sans-serif;
      }
      
      &.text {
        font-size: 25px;
        font-weight: 500;
        font-family: 'Noto Serif', serif;
      }
      
      &::-webkit-input-placeholder { /* WebKit browsers */
          color:    white;
      }
    }

    .i-button {
      position: absolute;
      right: -25px;
      top: 22px;
      font-size: 30px;
    }
}

