
.footer {
	width: 277px;
	height: 30px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	bottom: 5px;
	left: 0;
  right: 0;

  .created-by {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 600;
    color: rgba(62, 62, 62, 0.3);
  }

  .created-by span {
    font-size: 16px;
    font-weight: 700;
    color: rgba(62, 62, 62, 0.3);
  }

  .created-by a {
    text-decoration: none;
    font-weight: 700;
    color: rgba(62, 62, 62, 0.3);

  }

  .created-by a:hover {
    color: rgba(62, 62, 62, 0.8);
  }

  .social-links {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0;
    vertical-align: middle;
    padding: 0;
    float: right;
  }

  .social-links li {
    display: inline-block;
    font-size: 18px;
    padding-left: 1px;
    padding-top: 1px;
  }

  .social-links li a {
    text-decoration: none;
    color: rgba(1, 4, 7, 0.3);
  }

  .social-links li a span {
    visibility: hidden;
    position: absolute;
    left: -9999px;
  }

  .social-links li a:hover {
    text-decoration: none;
    color: rgba(62, 62, 62, 0.8);
  }
}