.header {
	position: relative;
	width: 100%;
  height: 354px;
  background-size: cover;
	background-repeat: no-repeat;
  background-position:center;

  .container {
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
  }
}